<% if object.errors.any? %>
	<div id="error_explanation">
    	<label>The form contains <%= pluralize(object.errors.count, "error") %>.</label>
    		<% object.errors.full_messages.each do |msg| %>
      		<br/><%= msg %>
    		<% end %>
    </div>
<% end %>
