<h4>Editing Incident</h4>

<%= javascript_include_tag :map %>

<%= render 'new_edit_incident_form' %>

<%= link_to 'Show', @incident, class: "btn btn-small btn-success" %> 
<%= link_to 'Back', incidents_path, class: "btn btn-small btn-success" %>
